.card-box {
  cursor: pointer;
  transition: .9s;
}
.card-box:hover {
  transform: scale(1.03);
}
.card-img-top {
  height: 220px;
}
.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: 0.9s;
}
/* .card-title:hover {
  white-space: normal;
  overflow: visible;
} */
.card-text {
  height: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  font-size: 15px;
}
/* .card-text:hover {
  height: auto;
  overflow: visible;
} */
.star {
  color: #ffc800;
  font-size: 13px;
}

