* {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.sidebar_search_form form input[type="text"]::placeholder {
    position: absolute;
    right: 0;
    top: 40%;
    transform: translate(-50%, -50%);

}
.sidebar_search_form form input
{
    text-align: right;
}




