@tailwind base;
@tailwind components;
@tailwind utilities;

.loading_Section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner_container {
  position: relative;
}
.spinner_container_top {
  position: relative;
}
.spinner.spinner7 {
  width: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.spinner.spinner14 {
  width: 200px;
}
.spinner.spinner5 {
  width: 180px;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
}
